.panel-auth {
    max-width: 420px;
    margin: 200px auto 0 auto;
    border-radius: 3px;
    .panel-body {
        .form-group {
            label {
                margin-bottom: 12px;
            }
            button[type="submit"] {
                width: 100%;
            }
            .link {
                display: block;
                text-decoration: underline;
                margin-bottom: 4px;
            }
        }
    }
}
