/* Lottery */

.lotteryBox h2 {
	font-family: 'Roboto', sans-serif!important;
	font-size: 2.1em;
}

.lotteryBox h4 {
	margin-top: -14px;
	margin-bottom: 30px;
	font-size: 1.3em;
}

.lotteryBox .coin {
	width: 28px;
}

.entered {
	font-size: 1.2em;
}

.sticky {
	background-color: #FCF4D8;
	border-bottom: 3px solid #FAECBC;
	padding: 20px;
	border-radius: 2px;
	max-width: 400px;
}
