/* Treasury */

.container {
	padding: 13px 2px;
    margin-bottom: 20px;
    padding-bottom: 0;
}

.upgrade {
	display: inline-block;
    margin: 0px -10px 9px 13px;
	box-shadow: 3px 3px 5px #e2e2e2;
}

.req {
	position: relative;
}

.complete {
	position: absolute;
    width: 85%;
    margin-left: 51px;
    border-top: 1px solid #333;
    left: 0;
    top: 46%;
}

.item {
	position: relative;
	display: inline-block;
	width: 100%;
    border: 1px solid #000;
}

.item,.item img {
	height: 54px;
    width: 54px;
}

.bar {
	position: relative;
	display: block;
	height: 7px;
    bottom: 7px;
}

.progress {
	background-color: transparent;
}

.progress-meter.red {
	background-color: #EC644B;
}

.progress-meter.orange {
	background-color: #EB9532;
}

.progress-meter.yellow {
	background-color: #F5D76E;
}

.progress-meter.green {
	background-color: #3FC380;
}

.progress-meter.dullgreen {
	background-color: #319f67;
}

.overlay {
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	height: 100%;
    width: 100%;
    text-align: center;
}

.overlay>i {
	color: #C8F7C5;
    font-size: 1.2em;
    margin-top: 19px;
}

.count {
	position: absolute;
    top: -2px;
    right: 2px;
    color: #e4e2c2;
    text-shadow: -2px 2px 1px #000;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.panel-body {
	position: relative;
	padding-bottom: 9px;
    margin-bottom: 39px;
}

.panel-body>button {
	display: none;
	position: relative;
	width: 100%;
	bottom: 0;
	margin: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.panel-body>button.left {
	float: left;
}

.panel-body>button.right {
	float: right;
}

.item {
	float: left;
}

.details {
	display: inline-block;
	margin-left: 15px;
}

.details>p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	font-weight: 600;
	color: #565656;
	margin: 0 0 5px 0;
}

.request {
	table-layout: fixed;
	text-align: left;
	border-radius: 2px;
}

.request img {
	width: 29px;
    margin-top: -3px;
}

.request td button {
	padding: 10px !important;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 0.8em;
}

.log span {
	display: block;
	color: #aaa;
	font-style: italic;
}

.contribute {
	width: 300px;
}

.contribute select {
	width: 80px;
	height: 34px;
    padding: 9px 25px;
}

.contributed {
	display: inline-block;
	margin-right: 5px;
}

.contributed img {
	width: 42px;
}

.leaderboard tbody {
	border-color: #e7deca;
	border-bottom-width: 4px;
	box-shadow: 0px 5px 15px #ededed;
}

.leaderboard tr:nth-child(even) {
	background-color: #fefdfa;
}

.leaderboard tr:nth-child(odd) {
   background-color: #f7f4ed;
}

.leaderboard tr a {
    color: #b9735a!important;
}

.overlay {
	background-color: rgba(0,30,0,0.45)!important;
	z-index: 2;
}

.count {
	z-index: 1;
}

/* Contributors */

.user {
	border: 1px solid #dedede!important;
    background-color: #f9f9f9!important;
	border-radius: 2px;
	padding: 10px 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.odd {
	margin-right: 0!important;
}

.user h4,
.stat {
	display: inline-block;
	text-align: center;
}

.user h4 {
	margin-top: 15px;
	font-size: 1.3em;
	font-weight: 600;
}

.user h4>a {
	color: #0a0a0a!important;
}

.user h4>a:hover {
	color: #333!important;
}

.stats {
	display: inline-block;
	min-width: 95px;
    background-color: #eee;
    border-radius: 2px;
    padding: 10px 20px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif!important;
	text-align: center;
}

.stats .number {
	font-size: 1.3em;
	font-weight: 700;
}

.stats i {
	display: block;
	font-size: 0.55em;
	color: #444!important;
}

.stats span {
	display: block;
}

.stats .desc {
	font-size: 0.75em;
	color: #8a8a8a;
}

.total {
	color: #bb5279;
}

.unique {
	color: #F2784B;
}

.contributions {
	margin-top: 20px;
}

.contributions .upgrade {
	margin: 0px 4.5px 8px 0px !important;
}
